
TaskManagerService/.vs/config/applicationhost.config
TaskManagerService/.vs/TaskManagerService/v15/.suo
TaskManagerService/.vs/TaskManagerService/v15/Server/sqlite3/db.lock
TaskManagerService/.vs/TaskManagerService/v15/Server/sqlite3/storage.ide
TaskManagerService/.vs/TaskManagerService/v15/Server/sqlite3/storage.ide-shm
TaskManagerService/.vs/TaskManagerService/v15/Server/sqlite3/storage.ide-wal
TaskManagerService/Task.BusinessLayer/obj/Debug/CoreCompileInputs.cache
TaskManagerService/Task.BusinessLayer/obj/Debug/DesignTimeResolveAssemblyReferences.cache
TaskManagerService/Task.BusinessLayer/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
TaskManagerService/Task.BusinessLayer/obj/Debug/Task.BusinessLayer.csproj.FileListAbsolute.txt
TaskManagerService/Task.BusinessLayer/obj/Debug/Task.BusinessLayer.csprojResolveAssemblyReference.cache
TaskManagerService/Task.BusinessLayer/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
TaskManagerService/Task.BusinessLayer/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
TaskManagerService/Task.BusinessLayer/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
TaskManagerService/Task.DataAccessLayer/obj/Debug/CoreCompileInputs.cache
TaskManagerService/Task.DataAccessLayer/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
TaskManagerService/Task.DataAccessLayer/obj/Debug/Task.DataAccessLayer.csproj.FileListAbsolute.txt
TaskManagerService/Task.DataAccessLayer/obj/Debug/Task.DataAccessLayer.csprojResolveAssemblyReference.cache
TaskManagerService/Task.DataAccessLayer/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
TaskManagerService/Task.DataAccessLayer/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
TaskManagerService/Task.DataAccessLayer/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
TaskManagerService/Task.DataAccessLayer/obj/Debug/TempPE/TaskModel.Context.cs.dll
TaskManagerService/Task.DataAccessLayer/obj/Debug/TempPE/TaskModel.cs.dll
TaskManagerService/Task.DataAccessLayer/obj/Debug/TempPE/TaskModel.Designer.cs.dll
TaskManagerService/Task.UnitTests/obj/Debug/DesignTimeResolveAssemblyReferences.cache
TaskManagerService/Task.UnitTests/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
TaskManagerService/Task.UnitTests/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
TaskManagerService/Task.UnitTests/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
TaskManagerService/Task.UnitTests/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
TaskManagerService/TaskManagerService/bin/Microsoft.Owin.Security.OAuth.dll
TaskManagerService/TaskManagerService/obj/Debug/CoreCompileInputs.cache
TaskManagerService/TaskManagerService/obj/Debug/DesignTimeResolveAssemblyReferences.cache
TaskManagerService/TaskManagerService/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
TaskManagerService/TaskManagerService/obj/Debug/TaskManagerService.csproj.FileListAbsolute.txt
TaskManagerService/TaskManagerService/obj/Debug/TaskManagerService.csprojResolveAssemblyReference.cache
TaskManagerService/TaskManagerService/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
TaskManagerService/TaskManagerService/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
TaskManagerService/TaskManagerService/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/TaskManagerService/TaskManagerService/bin
/TaskManagerService/Task.BusinessLayer/obj/Debug
/TaskManagerService/Task.BusinessLayer/bin/Debug
/TaskManagerService/Task.DataAccessLayer/obj/Debug
/TaskManagerService/Task.DataAccessLayer/bin/Debug
/TaskManagerService/Task.UnitTests/obj/Debug
/TaskManagerService/Task.UnitTests/bin/Debug
/TaskManagerService/TaskManagerService/obj/Debug
